<!-- src/main/resources/templates/aboutus.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout.html">
<head>
    <title>Acerca de Nosotros</title>
</head>
<body>
<h1>¿Quiénes somos?</h1>
<p>Promex Logistics es una Empresa fundada en Enero 2013...</p>
<h3>Misión</h3>
<p>Nuestro principal objetivo es satisfacer las necesidades de nuestros clientes...</p>
<h3>Visión</h3>
<p>Ser un modelo global de soluciones logísticas integrales...</p>
<h3>Valores</h3>
<ul>
    <li>Respeto Mutuo</li>
    <li>Responsabilidad</li>
    <li>Excelencia</li>
    <li>Integridad</li>
    <li>Unicidad</li>
</ul>
<h3>Redes Sociales</h3>
<div class="social-icons">
    <a href="https://web.facebook.com/hondalogisticsnorthamerica/?_rdc=1&_rdr"><img src="/images/facebook-logo.png" alt="Facebook" class="social-icon" style="width: 40px;"></a>
    <a href="javascript:void(0);"><img src="/images/x-logo.png" alt="X" class="social-icon" style="width: 40px;"></a>
    <a href="https://www.linkedin.com/company/hlna"><img src="/images/linkedIn-logo.png" alt="LinkIn" class="social-icon" style="width: 60px;"></a>
</div>
</body>
</html>