<!-- src/main/resources/templates/layout.html -->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGRPMX - Promex Logistics</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/css/style-principals.css"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-principals.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-views.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/usuarios"><img style="width: 120px;" src="../static/images/promex-logo-removebg-preview.png" alt="Logo Promex"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <th:block th:replace="${content}"></th:block>
</div>

<footer class="footer">
    &copy; Copyright 2025 Promex Logistics S. de R.L. de C.V. Derechos reservados.
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>